$card_background_color: #f6f8fb;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100%;

  div.container {
    div.card {
      width: 335px;
      height: 246px;
      background-color: $card_background_color;
    }
  }
}
